{% extends "network/layout.html" %}

{% block body %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}

<div id="profile-container" class="container-fluid">
    <div class="d-flex justify-content-center mt-3">
        <a href="/media/{{ profile.image }}"><img class="rounded-circle" src="/media/{{ profile.image }}" width="130" height="130"></a>
    </div>

    <div class="text-center">
        <h1 class="mt-2 ">{{ profile.username }}</h1>
        <div class="px-4">
            <p class="">{{ profile.bio }}</p>
        </div>

        <div class="d-flex justify-content-around mt-3 px-4">
            <div class="d-flex flex-column">
                <span class="font-weight-bold" style="font-size: 30px;">{{ postCount }}</span>
                <span class="text-sm-start text-danger">posts</span>
            </div>

            <div class="d-flex flex-column">
                <span class="font-weight-bold" style="font-size: 30px;">{{ followers }}</span>
                <span class="text-sm-start text-danger">Followers</span>
            </div>

            <div class="d-flex flex-column">
                <span class="font-weight-bold" style="font-size: 30px;">{{ following }}</span>
                <span class="text-sm-start text-danger">Followings</span>
            </div>
        </div>

        <!-- Button trigger modal -->
        {% if profile.id == user.id %}
        <button type="button" class="btn btn-light my-4" data-bs-toggle="modal" data-bs-target="#exampleModal1"
            style="width: 150px;">
            edit profile
        </button>
        {% else %}
        {% if not is_followed %}
        <a class="text-decoration-none" href="{% url 'follow' profile.id %}">
            <div class="d-flex flex-row px-4 my-4 justify-content-center" style="gap: 40px;">
                <button class="btn btn-danger text-white rounded" style="width: 310px;" id="hehe">Follow</button>
            </div>
        </a>
        {% else %}
        <a class="text-decoration-none" href="{% url 'unfollow' profile.id %}">
            <div class="d-flex flex-row px-4 my-4 justify-content-center" style="gap: 40px;">
                <button class="btn btn-danger text-white rounded " style="width: 310px;" id="hehe">Unfollow</button>
            </div>
        </a>
        {% endif %}
        {% endif %}

        <!-- Modal -->
        <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">edit profile</h5>
                    </div>
                    <form action="{% url 'editProfile' profile.id %}" method="post">
                        {% csrf_token %}
                        <div class="modal-body">
                            <!-- <div class="mb-3">
                                <input type="text" class="form-control" id="name" placeholder="edit name">
                            </div> -->
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="changeBio" id="changeBio" placeholder="change Bio">
                            </div>
                            {{ image }}
                            <div class="mb-3">
                                <input autofocus type="file" class="form-control" name="image" id="image">
                            </div>
                            {{ bio }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {% include "network/post.html" %}

    </div>
</div>
{% endblock %}